.main {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.up,
.down {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}

.card {
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 5px;

  border: 3px solid #2d2d2d;
  box-shadow: 6px 6px 0px #2d2d2d;

  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 {
  border-radius: 90px 5px 5px 5px;
  padding-top: 12px;
  padding-left: 12px;
}

.card2 {
  border-radius: 5px 90px 5px 5px;
  padding-top: 12px;
  padding-right: 12px;
}

.card3 {
  border-radius: 5px 5px 5px 90px;
  padding-bottom: 10px;
  padding-left: 12px;
}

.card4 {
  border-radius: 5px 5px 90px 5px;
  padding-bottom: 12px;
  padding-right: 12px;
}

.instagram,
.twitter,
.github,
.discord {
  transition: fill 0.2s ease-in-out;
}

.instagram {
  fill: #e1306c;
}
.twitter {
  fill: #1da1f2;
}
.github {
  fill: #333;
}
.whatsapp {
  fill: #00a849;
}

.card:hover {
  cursor: pointer;
  transform: translate(-6px, -6px);
  box-shadow: 12px 12px 0px #2d2d2d;
}

.card1:hover {
  background-color: #fd1d1d;
}
.card2:hover {
  background-color: #24a0ed;
}
.card3:hover {
  background-color: #f7b733;
}
.card4:hover {
  background-color: #4cd137;
}

.card:hover svg {
  fill: white;
}
